@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --absolute-black: #000;
    --absolute-white: #fff;
    --midyellow: #FCB900;
    --skyblue: #3F88FB;
    --litegrey: #F4F4F4;
    --midgrey: #808087;
    --darkgrey: #151516;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: var(--litegrey);
    font-family: 'Montserrat';
    height: 100vh;
}

/* ----burger-from-56----- */


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}

/* ========= HEADER ============= */

.header {
    background-color: var(--absolute-white);
}

.header__container {
    margin-top: 10px;
}

.header__row {
    display: flex;
    gap: 10px;
    
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo-container img {
    width: 187px;
    height: 50px;
}

.header__logo-container div {
    width: 2px;
    height: 30px;
    background-color: var(--midgrey);
}

.header__logo-container p {
    max-width: 400px;

}

.header__info {
    display: flex;
    align-items: center;

}

.header__call {
    display: flex;
    gap: 10px;
    
}

.phoneicon {
    width: 20px;
    height: 20px;
}

.header__call p {
    color: var(--darkgrey);
    font-size: 18px;
    font-weight: 600;
    text-wrap: nowrap
}

.header__btn {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: var(--skyblue);
    padding: 15px 20px 15px 15px;
    border-radius: 99px;
    border: none;
}

.header__btn img {
    width: 20px;
    height: 20px;
}

.header__btn p {
    color: var(--absolute-white);
    font-size: 14px;
    font-weight: 500;
}

.header__btn:hover {
cursor: pointer;
transform: scale(1.06);
transition: all 0.3s;
}

.nav__list {
    padding: 0 15px;
    margin-top: 10px;

    background-color: var(--litegrey);
    height: 50px;
    border-radius: 10px;

    display: flex;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav__item {
    text-wrap: nowrap;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 1200px)  {
    .nav__item {
        text-wrap: wrap;
    }
}


/* ====== Main KPP ====== */
/* ====== Link ====== */
.link__container {
    padding-bottom: 10px;
    background-color: var(--absolute-white);

}

.link {
    display: flex;
    align-items: center;
    gap: 5px;

}

.link a {
    font-size: 14px;
    font-weight: 400;
}


.link img {
    width: 20px;
    height: 20px;
}

.link__home {
    color: var(--midgrey);
}

.link__active {
    color: var(--skyblue)
}


.main {
    flex-grow: 1;
    background-color: var(--litegrey);

}

.main-content {
    margin-top: 130px;
}



.main-content h1 {
    max-width: 500px;
    font-weight: 500;
    font-size: 30px
}

.main-content span {
    font-weight: 700;
}

.main-content__button {

    margin-top: 50px;
    padding: 15px 15px 15px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 99px;
    background-color: var(--midyellow);
    box-shadow: 0 0 20px 5px rgba(252, 185, 0, .5);
    
    cursor: pointer;
    height: 60px;

}

.main-content__button img {
    width: 30px;
    height: 30px;
}

.main-content__button div {
    width: 30px;
    height: 30px;
    background-color: var(--absolute-white);
    border-radius: 50%;
}

.main-content__wrapper {
    position: relative;
    z-index: 3;
}

.main-content__button:hover div {
    width: 46px;
    height: 46px;
    background-color: #ffcb3e;
    border-radius: 50%;
    transition: all 0.5s;
}

.main-content__button:hover img {
    width: 46px;
    height: 46px;
    transition: all 0.5s;
}

/* ------------ */
.decoration__wrapper {
    position: absolute;
    right: 245px;
    height: 0;
}

.decoration {
    position: relative;
    z-index: 2;
    transform: translate(-20%, -300px);


}

.main-content__img-box {
    width: 530px;
    height: 530px;
    background-color: var(--absolute-white);
    border-radius: 50%;
    z-index: 2;
}

.main-content__img-box img {
    width: 470px;
    height: 470px;
    border-radius: 50%;
    padding: 30px;
    z-index: 2;
}

.main-content__img-decor {
    top: 0;
    position: absolute;
    background: url(../assets/decor/background_ptrn_01.svg);
    display: block;
    width: 180px;
    height: 180px;
    z-index: -1;
    top: -20px;
    left: -15px;
}

.main-content__certificate {
    background-color: #3F88FB;
    display: block;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -170px;
}

.main-content__certificate::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
    background: url(../assets/decor/text1.svg);
    display: block;
    width: 231px;
    height: 94px;
}

.main-content__certificate::after {
    content: "";
    position: absolute;
    right: 19px;
    top: 160px;
    background: url(../assets/decor/text2.svg);
    display: block;
    width: 231px;
    height: 94px;
}

.main-content__certificate div::before {
    content: "";
    position: absolute;
    right: 64px;
    top: 85px;
    background: url(../assets/decor/diploma.jpg);
    display: block;
    width: 142px;
    height: 100px;
}

.main-content__img-box::after {
    top: -70px;
    left: 0;
    content: "";
    position: absolute;
    width: 670px;
    height: 600px;
    background: url(../assets/decor/background_doctor.png);

}

.main-content__img-box::before {
    content: "";
    position: absolute;
    bottom: 115px;
    right: -160px;
    width: 162px;
    height: 25px;
    z-index: 5;
    background: url(../assets/decor/background_ptrn_04.svg);
}
/* animation */

.main-content__certificate {
    z-index: 15;
}
.main-content__certificate div::after {
content: "";
width: 20px;
height: 20px;
position: absolute;
display: block;
background: url(../assets/decor/luchznaniy_ico20_search.svg);
bottom: 50px;
right: 125px;
}

.main-content__certificate:hover div::before{
transform: scale(1.16);
}
.main-content__certificate:hover div::after{
display: none;
}
.main-content__certificate div::before {
    z-index: 5;
}

.main-content__certificate:hover::before {
z-index: 1;
animation: Animation_twist1 3s forwards;
}
.main-content__certificate:hover::after {
    z-index: 1;
    animation: Animation_twist2 3s forwards;
}


@keyframes Animation_twist1 {
100% {
    right: 7px;
    top: 141px;
    opacity: 0.7;
    width: 180px;
    height: 72px;
    transform: rotate(136deg);
    background: url(../assets/decor/text11.svg);
    }
}

@keyframes Animation_twist2 {
100% {
    top: 68px;
    right: 82px;
    opacity: 0.7;
    width: 180px;
    height: 72px;
    transform: rotate(136deg);
    background: url(../assets/decor/text22.svg);
    }
}
/* ========== */

.card__list {
    margin-top: 200px;
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    z-index: 3;

}

.card__item {
    margin-bottom: -70px;
    background-color: var(--absolute-white);
    width: 270px;
    height: 140px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    border-radius: 8px;

}

.card__item-content {
    padding: 20px;
    display: flex;
    align-items: center;
}

.card__item img {
    width: 40px;
    height: 40px;
}

.card__item-number {
    font-size: 30px;
    font-weight: 700;
    color: var(--midgrey);
}

.card__item-text {
    padding: 0 0px 20px 20px;
}

.card__item-square-list {
    margin-left: auto;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

.card__item-square-item {
    width: 8px;
    height: 8px;
    background-color: var(--midgrey);
}

.card__item-square-item-active {
    background-color: var(--absolute-white);
    outline: 2.2px solid var(--midgrey);
    outline-offset: -2.2px;
}

.main__down-background {
    background-color: var(--absolute-white);
    height: 130px;
    width: 100%;
}

.card__item-line {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: var(--skyblue);
    top: 80px;
}

.card__item-active {
    background-color: var(--skyblue);
}

.card__item-number-active {
    color: var(--absolute-white);
}

.card__item-text-active {
    color: var(--absolute-white);
}

.square {
    background-color: var(--absolute-white);
    outline: 0px solid var(--midgrey);
    outline-offset: 0px;

}

.card__item-line-active {
    background-color: var(--absolute-white);
    height: 40px;
}




/* ========== 2 PAGES ============= */

.kpk__main-container {
    margin-top: 70px;

}

.kpk__main-title {
    position: relative;
    display: flex;
    gap: 25px;
}

.kpk__main-title-right {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: var(--absolute-white);
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 39px;
    height: 120px;
    border-radius: 60px 0 0 60px;

    transform: translateX(-37%);
    

}

.kpk__main-title-right-mobile {
    display: none;
}

.kpk__main-background__blur {

    position: absolute;
    right: 0;
    overflow: hidden;
}

.kpk__main-background__blur-img {
    margin-top: 63px;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.kpk__main-title-description {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 183px;
}

.kpk__main-title-image {
    width: 108px;
    height: 76px;
}

.kpk__main-title-image:hover {
    width: 108px;
    height: 76px;
    transform: scale(1.13);
}



.kpk__main-title-image-search .hover-svg {
    display: none; /* Изначально скрыто */
}

.kpk__main-title-image-search:hover .default-svg {
    display: none; /* При наведении скрывается */
}

.kpk__main-title-image-search:hover .hover-svg {
    display: block; /* При наведении показывается */
}

.kpk__card-license a {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
}

.kpk__card-license p {
    color: var(--skyblue);
    font-size: 14px;
}

.kpk__card-license img {
    width: 22px;
    height: 8px;
}


.kpk__main-title-left {
    position: relative;
    display: flex;
    gap: 25px;
    z-index: 1;
}



.kpk__main__circle {
    min-width: 120px;
    height: 120px;
    position: relative;
    background-color: var(--skyblue);
    border-radius: 50%;
}

.kpk__main__circle img {
    position: absolute;
    width: 120px;
    height: 150px;
    bottom: 0;
}

.kpk__main-title-text {
    font-size: 30px;
    font-weight: 500;
    max-width: 580px;
    line-height: 40px;
}

.kpk__main-title-subtext {
    font-weight: 600;
}

.kpk__card__list {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow: hidden;
}

.kpk__card__item {
    width: 270px;
    height: 200px;
    border-radius: 8px;
    background-color: var(--absolute-white);
    position: relative;
    z-index: 2;
}

.kpk__card__item-active {
    background-color: var(--skyblue);
}

.kpk__card__item-img {
    width: 40px;
    height: 40px;
    padding: 20px 0 50px 20px;
}

.kpk__card__item-text {
    padding-left: 20px;
    font-weight: medium;
    font-size: 14px;
    line-height: 20px;
}

.kpk__card__item-text-active {
    color: var(--absolute-white);
}

.kpk__card__item__number-list {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    margin: 15px 20px 0 0;
}

.kpk__card__item__number {
    font-size: 70px;
    font-weight: 900;
    color: var(--litegrey);
}

.kpk__card__item__number-active {
    color: rgba(244, 244, 244, .1);
}


.kpk__card__item-line {
    position: absolute;
    top: 110px;
    left: 0;
    width: 2px;
    height: 40px;
    background-color: var(--skyblue);
}

.kpk__card__item-line-active {
    background-color: var(--absolute-white);
}


.kpk__course-offer {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    height: 170px;
}

.kpk__offer-heading {
    font-size: 14px;
    font-weight: 400;
}

.kpk__discount {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    background-color: var(--absolute-black);
    border-radius: 6px;
    max-width: 127px;
    margin-top: 15px;
}

.kpk__discount-percentage {
    font-weight: 700;
    color: var(--midyellow);
}

.kpk__discount-deadline {
    font-size: 12px;
    color: var(--absolute-white);
}

.kpk__price-details {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.kpk__original-price {
    font-size: 30px;
    font-weight: 700;
}

.kpk__discounted-price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

/* ========= 3 Page ========= */

.luchznaniyru__container {
    margin-top: 70px
}

.luchznaniyru__text {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.luchznaniyru__title {
    font-weight: medium;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
    max-width: 600px;
}

.luchznaniyru__title span {
    font-weight: bold;
}

.luchznaniyru__directions {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.luchznaniyru__directions h1 {
    font-size: 18px;
    font-weight: 600;
}

.luchznaniyru__directions a {
    font-size: 14px;
    font-weight: medium;
}

.luchznaniyru__directions div {
    width: 2px;
    height: 30px;
    background-color: var(--darkgrey);
}

.directions-circle {
    display: none;
}

.luchznaniyru__list {
    margin-top: 70px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: 140px 140px;
    gap: 30px;
    
}

.luchznaniyru__item {
    width: 270px;
    height: 140px;
    border-radius: 8px;
    position: relative;
    background-color: var(--absolute-white);
}

.luchznaniyru__item-text {
    font-size: 14px;
    font-weight: 500;
    max-width: 220px;
    line-height: 20px;
    padding: 20px 20px 30px 20px;
}

.luchznaniyru__item-text span {
    font-weight: 700;
}

.luchznaniyru__item-prices {
    display: flex;
    gap: 5px;
    padding-left: 20px;
    align-items: end;
    
}

.luchznaniyru__item-original__price {
    font-size: 25px;
    font-weight: 700;
}

.luchznaniyru__item-discounted-price {
    font-size: 14px;
    font-weight: 400;
    text-decoration:line-through;
}

.luchznaniyru__item-line {
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: var(--skyblue);
    left: 0;
    top: 20px;
}

.luchznaniyru__item-line1 {
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: var(--skyblue);
    left: 0;
    top: 20px;
}

.luchznaniyru__item-line2 {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: var(--skyblue);
    left: 0;
    top: 20px;
}



.luchznaniyru__item-image {
    position: absolute;
    display: flex;
    gap: 5px;
    top: -15px;
    background-color: var(--skyblue);
    right: -15px;
    align-items: center;
    padding: 5px 10px 5px 5px;
    border-radius: 6px;
}

.luchznaniyru__item-image img {
    width: 20px;
    height: 20px;
}

.luchznaniyru__item-image p {
    font-size: 12px;
    font-weight: 500;
    color: var(--absolute-white);
}


.luchznaniyru__item-discount {
    position: absolute;
    top: -10px;
    right: -15px;
    display: flex;
    gap: 5px;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    background-color: var(--absolute-black);
}

.luchznaniyru__item-percent {
    font-size: 14px;
    font-weight: 700;
    color: var(--midyellow);
}

.luchznaniyru__item-date {
    font-size: 12px;
    font-weight: 400;
    color: var(--absolute-white);
}

.luchznaniyru__item-subtext img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -10px;
}

.luchznaniyru__item-subtext {
    margin-top: 40px;
    position: relative;
    padding-left: 10px ;
    display: flex;
    gap: 10px;
    
    align-items: center;
}

.luchznaniyru__item-subtext p {
    padding-left: 60px;
    font-size: 25px;
    font-weight: 700;
    z-index: 1;
}

.luchznaniyru__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.luchznaniyru__item-subtext span {
    color: var(--midyellow);
}

.license__button {
    margin-top: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 131px;
    width: 358px;
    height: 60px;
    background-color: var(--absolute-white);
    border-radius: 99px;
    border: none;
}

.license__button-search {
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

.license__button-certificate {
    position: absolute;
    width: 86px;
    height: 75px;
    top: -15px;
    left: 60px;
    
}

.license__button-search:hover ~ .license__button-certificate {
    height: 90px; 
    top: -30px;
    transition: all 0.4s;
}

.license__button-certificate:hover {
    height: 90px;
    top:-30px;
    transition: all 0.4s;
}

.license__button a {
    color: var(--absolute-black);
    font-size: 14px;
    font-weight: 500;
    
}

.license__button a:hover {
    color: var(--skyblue);
    
}

.luchznaniyru__decoration-wrapper .decoration__wrapper .decoration .main-content__img-box::before{
    background: url(../assets/decor/IIII.png);
    width: 82px;
    height: 25px;
    bottom: 15px;
    right: -16px;
}
.luchznaniyru__decoration-wrapper .decoration__wrapper .decoration .main-content__img-box::after{
    background: url(../assets/decor/background_doctor1.png);
    width: 470px;
    height: 570px;
    top: -70px;
    left: 30px;
}

.luchznaniyru__decoration-wrapper {
    transform: translate(360px, -415px);
}