@media screen and (max-width: 1000px)  {
    .luchznaniyru__decoration-wrapper {
transform: scale(0.6);
    }
.decoration__wrapper {
    right: -355px;
    top: -1000px;
}
    .luchznaniyru__container{
        margin-top: 20px;
    }

    .luchznaniy__pc {
        display: flex;
        z-index: 10;
    position: relative;
    }

    .luchznaniyru__text {
        gap: 20px;
        
    }

    .luchznaniyru__title {
        font-size: 25px;
    }
    

    .luchznaniyru__directions {
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
    }
    
    .directions-circle {
        display: flex;
        width: 20px;
    }

    .directions-circle1 {
        margin-left: 20px;
    }

    .directions-circle2 {
        margin-left: 40px;
    }

    .luchznaniyru__directions div {
        display: none;
    }

    .luchznaniyru__directions a { 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }
    
    .luchznaniy__mobile {
        display: none;
    }

    .main-content__button {
        text-wrap: nowrap;
        margin-top: 0;
        border-radius: 0 99px 99px 0;
        transform: translateX(-30px);
        width: 360px;
    }

    .luchznaniyru__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        
    }

    .luchznaniyru__list a {
        width: 320px;
        height: 100%;
        margin: 0 auto;
    }

    .luchznaniyru__item {
        width: 320px;
        height: 140px;
        margin: 0 auto;
    }

    .license__button {
        margin-top: 20px;
        min-width: 370px;
        transform: translateX(-30px);
        border-radius: 0 99px 99px 0;
    }

    .license__button a {
        text-wrap:  nowrap;
    }
}
@media screen and (max-width: 699px){
    .luchznaniyru__title {
        max-width: 250px;
    }
    .decoration__wrapper {
        top: -1500px;
    }
}


@media screen and (max-width: 500px){
    .luchznaniyru__decoration-wrapper {
        transform: scale(1);
            }
.main-content__img-box {
    background-color: var(--litegrey);
}
.luchznaniyru__decoration-wrapper .decoration__wrapper .decoration .main-content__img-box::before {
display: none;
}
.main-content__img-decor {
    display: none;
}
.main-content__img-box::after {
    transform: scale(0.5);
    opacity: 1;
}

.main-content__img-box img {
    transform: translate(-99px, 609px);
    opacity: 0.3;
    border-radius: 0;
}
.luchznaniyru__title {
    line-height: 32px;
}

    .luchznaniyru__decoration-wrapper .decoration__wrapper .decoration .main-content__img-box::after {
        top: 579px;
        left: 5px;
        opacity: 0.9;
    }
}